﻿<!DOCTYPE html>
<html  class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProofOfConceptMVC</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/foundation-sites/dist/css/foundation.css"/>
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />. 
    </environment>
</head>
<body>
    <!– Start Top Bar –>
        <div class="top-bar">
            <div class="top-bar-left">
                <ul class="menu">
                    <li class="menu-text">Blog</li>
                    <li><a href="#">One</a></li>
                    <li><a href="#">Two</a></li>
                    <li><a href="#">Three</a></li>
                </ul>
            </div>
        </div>
        <!– End Top Bar –>
           
            @RenderBody()
            <div class="expanded row column text-center">
                <hr />
                <p>&copy; 2017 - ProofOfConceptMVC</p>
            </div>

            <environment include="Development">
                <script src="~/lib/jquery/dist/jquery.js"></script>
                <script src="~/lib/foundation-sites/dist/js/foundation.js"></script>
                <script src="~/js/site.js" asp-append-version="true"></script>
            </environment>
            <environment exclude="Development">
                <script src="~/lib/jquery/dist/jquery.min.js"
                        asp-fallback-test="window.jQuery"></script>
                <script src="~/js/site.min.js" asp-append-version="true">
                </script>

                <script src="~/lib/foundation-sites/dist/js/foundation.min.js"
                        asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                        crossorigin="anonymous"
                        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
                </script>
                <script src="~/js/site.min.js" asp-append-version="true"></script>
            </environment>
            <script>
                $(document).foundation();
            </script>
            @RenderSection("Scripts", required: false)
</body>

</html>
