﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="grid-x">

    <div class="cell large-3 medium-6 small-12"> Just a wondering!!!</div>
    <div class="cell large-9 medium-6 small-12"> What a wandering guy!!!</div>

    <div class="cell small-6">
        Who may like to fly!!!!

    </div>
    <div class="cell small-6">
        Is doing way up here!?

    </div>

    <div class="cell small-12"><span class=”hide-for-large”>full</span><span class=”show-for-large”>4</span></div>

</div>